<div class="secondaryColumn">
	<!-- Welcome -->
	<div id="welcome" class="widgetContainer welcome_text">
		<h3 class="widgetTitle">Welcome</h3>
		<div class="textwidget">
			This is the demo site for 5thirtyone.com. As existing themes are re-released, updated versions of code will be made available for demo.
		</div>
	</div>
	<!-- Blogroll -->
	<div id="blogroll" class="widgetContainer widget_links">
		<h3 class="widgetTitle">Blogroll</h3>
		<ul class="xoxo blogroll">
			<li><a href="http://5thirtyone.com">5ThirtyOne - Derek Punsalan</a></li>
			<li><a href="http://5thirtyone.com/grid-focus">Grid Focus Download</a></li>
			<li><a href="http://www.mediatemple.net/go/order/?refdom=5thirtyone.com">Media Temple (mt)</a></li>
		</ul>
	</div>
</div>