<div id="filler" class="fix">
{% if mode == 'page' %}
	{% include 'page' %}
{% else %}
	{% include 'main_column_shared' %}
{% endif %}
	{% include 'second_column_post' %}
	{% include 'third_column_shared' %}
</div>
